<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GenricClasses.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A943E7F71D0E8E3300F137CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A943E8131D0E8E3500F137CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A943E81E1D0E8E3500F137CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
