<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FDCChart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A95FEA791D24D9ED00D78577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A95FEA901D24D9EE00D78577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A95FEA9B1D24D9EE00D78577</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
