<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoSolution.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A907EBA41D43AB7200A8FBA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A907EBC01D43AB7300A8FBA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A907EBCB1D43AB7300A8FBA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
